* {
    margin: 0;
    padding: 0;
    font-family: Andale Mono, monospace;
}

body {
    overflow: hidden;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#johan {
    background: linear-gradient(rgb(0, 104, 165),rgb(0, 255, 242));
    height: 100vh;
    background-position: 0%;
    background-repeat: no-repeat;
    background-position: fixed;
}

#johan h1 {
    color: white;
    font-size: 6em;
    cursor:default;
    position: fixed;
}

#johan h1 span{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#johan .contenant {
    opacity: 0;
    position: absolute;
    margin-top: 25%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    visibility: hidden;
}

#johan .contenant .lien {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    font-size: 1.75em;
    padding: 2%;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: opacity, all 0.3s;
}

#johan .contenant .lien:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 10px white, 0 10px 5px black;
}

.point {
    display: block;
    position: absolute;
    width: 10%;
    transition: all 0.5s;
    top: 30%;
}

#point1 {
    left: -15%;
}

#point2 {
    right: -15%;
}