/**** all ****/

* {
    margin: 0;
    padding: 0;
    font-family: Andale Mono, monospace;
}


/**** menu ****/

body {
    overflow: hidden;
}

#menu_johan {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(0, 104, 165), rgb(0, 255, 242));
    background-position: 0%;
    background-repeat: no-repeat;
    background-position: fixed;
}

#menu_johan #titre_johan_vadenne {
    position: absolute;
    color: white;
    font-size: 6em;
    cursor: default;
    position: fixed;
    width: 100%;
    text-align: center;
    align-items: center;
}

#menu_johan #titre_johan_vadenne a {
    width: 3%;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
    transform-origin: left top;
    white-space: nowrap;
    writing-mode: initial;
    text-orientation: upright;
}

#menu_johan #contenant_lien_accueille {
    opacity: 0;
    position: absolute;
    margin-top: 25%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    visibility: hidden;
}

#menu_johan #contenant_lien_accueille .lien {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    font-size: 1.75em;
    padding: 2%;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: opacity, all 0.3s;
}

#menu_johan #contenant_lien_accueille .lien:hover {
    transform: translateY(-15px);
    box-shadow: 0 0 5px white, 0 10px 5px black;
}

.image_cote {
    display: block;
    position: absolute;
    height: 30vh;
    transition: all 0.5s;
    top: 30%;
}

#menu_johan #image_gauche .image_cote {
    left: -15%;
}

#menu_johan #image_droite .image_cote {
    right: -15%;
}


/**** qui_je_suis ****/

#page_qui_je_suis {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
    width: 100%;
}

#page_qui_je_suis #contentant_texte {
    width: 75%;
}

#page_qui_je_suis #contentant_texte {
    color: white;
    font-size: 170%;
}




/*  SWITCH  */

#switch {
    position: absolute;
    right: 0;
    top: 0;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 100px;
    position: absolute;
    right: 0.5%;
    top: 0.5%;
}

label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #55cbda;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 65px;
}

#prompt {
    position: absolute;
    right: 0.5%;
    margin-right: 110px;
    top: 10px;
    font-size: 200%;
    color: white;
}