
    
* {
    margin: 0;
    padding: 0;
    font-family: Andale Mono, monospace;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.johan {
    background: linear-gradient(135deg, rgb(49, 21, 177),rgb(188, 55, 206));
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;  
}

.johan h1 {
    color: white;
    font-size: 6em;
}

.johan .contenant {
    opacity: 0;
    position: absolute;
    margin-top: 25%;
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.johan .contenant .lien {
    background: linear-gradient(135deg, rgb(103, 164, 255),rgb(234, 0, 255));
    font-size: 1.75em;
    padding: 2%;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s;
}

.johan .contenant .lien:hover {
    transform: translateY(-25px);
}