@import url('https://fonts.googleapis.com/css2?family=Roboto&family=VT323&display=swap');
body {
    font-size: 12px;
    font-family: sans-serif;
    background: #2c3e50;
}

h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 600%;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Roboto', sans-serif;
    font-family: 'VT323', monospace;
}

h2 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 550%;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Roboto', sans-serif;
    font-family: 'VT323', monospace;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header a {
    font-size: 200%;
    color: white;
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    border-radius: 15px;
}

header a:nth-child(1) {
    background-color: rgb(133, 92, 143)
}

header a:nth-child(2) {
    background-color: rgb(92, 95, 143)
}

header a:nth-child(3) {
    background-color: rgb(92, 135, 143)
}

header a:nth-child(4) {
    background-color: rgb(92, 143, 103)
}

header a:nth-child(5) {
    background-color: rgb(143, 140, 92)
}

#competence {
    width: 100vh;
    display: inline-block;
    white-space: nowrap;
}

#competence div {
    display: inline-block;
    margin: 0;
    width: 45%;
    height: 0%;
    background-color: #1d2935;
    border-radius: 20px;
    border: 3px white solid;
}

#competence div ul {
    padding: 1%;
    padding-left: 20%;
    padding-bottom: 5%;
    margin: 10px;
    font-size: 300%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'VT323', monospace;
}